body{
	width: 100%;
	margin-left: 10%;
}


.contenedor {
			position: relative;
			width: 80%;
			height: 80vh;
		}
		.cabecera {
			display: inline-block;
			
			padding: 10px;
			border: 2px solid;
			position: relative;
			color: black;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			transform: translateY(2px);
			z-index: 2;
		}
		.cabecera:hover{
			text-decoration: none;
		}
		.pestana {
			position: absolute;
			border: 2px solid;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			transition: visibility 1s;
		}
		
		.p-activa {
			visibility: visible;
			opacity: 1;
		}
		.c-activa {
			border-bottom-color: white;
		}
		
		p{
			text-align: justify;
			padding: 10px;
		}