*{
			margin:0;
			padding:0;

		}
		/*====== CSS PARA BOTON ATRAS ======*/
.atras{
  position: absolute;
  top: 5px;
  left: 30px;
  
}
.atras a{
  color:black;
  text-decoration: none;
}
.atras-img{
  max-width: 50px;
  max-height: 50px;
}

/*=================================*/
		article {
			width: 90%;
			margin-left: 5%;
			height: 100vh;
			font-size: 1.4em;
		}

		article h2{
			text-align: center;
		}
		article p{
			margin-left: 100px;
			margin-right: 100px;
		}
		.centrado{
	    	margin:10px auto;
	    	display:block;
	        border-radius: 20px;
		}
		.color1{
			background: #5661F2;
			opacity: .8;
			height: 80vh;
			
		}
		.color2{
			background: #79EDFC;
		}
		.color3{
			background: #FA6C98;
		}
