body {
	background: url(../6grado/wallpaper.jpg); no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

/*====== CSS PARA BOTON ATRAS ======*/
.atras{
  position: absolute;
  top: 10px;
  left: 35px;
  
}
.atras a{
  color:white;
  text-decoration: none;
  font-size: 1.3em;
}
.atras-img{
  max-width: 50px;
  max-height: 50px;
}

/*=================================*/

.temas{
	width: 70%;
	margin-left: 15%;
	height: 20%;
	background: #ea899a;
	font-size: 1.2em;
}

.temas h2{
	font-weight: bold;
}


.temas p{
	text-align: center;
}
.ejemplo{
	max-height: 100px;
	max-width: 200px;
	padding-left: 350px;
}

.animation{
	width: 500px;
	margin-left: 30%;
	background: white;
	font-size: 2em;
}