body{
	width: 80%;
	margin-left: 10%;
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #ffc3a0, #FFAFBD);
	background: -o-linear-gradient(left, #ffc3a0, #FFAFBD);
	background: linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}	

.ho{
-webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B,
					 -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 
					 5px 5px 15px 5px rgba(255,0,0,0); 
box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B,
			-8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D,
			5px 5px 15px 5px rgba(255,0,0,0);
background: #FFFFFF;
color: #000000;
border-radius: 15px;
}

body#tinymce {
background: #FFFFFF
}

.galeria > img{
	width: 45%;
}
.galeria{
	display: flex;
	flex-wrap: wrap;
}