body{
	width: 80%;
	margin-left: 10%;
}	

/*====== CSS PARA BOTON ATRAS ======*/
.atras{
  position: absolute;
  top: 10px;
  left: 20px;
  
}
.atras a{
  color:black;
  text-decoration: none;
}
.atras-img{
  max-width: 50px;
  max-height: 50px;
}

/*=================================*/
h1{
	background: #8BC34A;
	text-align: center;
	line-height: 2;
}
.resumen{
	background: #FF9800;
	border-radius: 10px;
	padding:4px;
}
.videos{
	display: flex;

}
.videos> iframe{
	padding-top: 30px;
	width: 500px;
	margin-left: 10px;
}