@media screen and (max-width:600px ){
	section  {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;

	}
	.enlaces{
		margin:10px;
		background: #4CD137;
	}

	.enlaces:hover{
	  transform:translatey(25px);
	  transition:all .5s;
	  background:yellow;
	  opacity: .7;
	  font-weight:bold;
	  color:black;
	  font-size:1.4em;
	}
} 





